
college 4 - Supervised Learning - random forest/.ipynb_checkpoints/SVM Titanic-checkpoint.ipynb
college 4 - Supervised Learning - random forest/.ipynb_checkpoints/SVM Titanic_notities-checkpoint.ipynb
college 4 - Supervised Learning - random forest/SVM Titanic_notities.ipynb
college 4 - Supervised Learning - random forest/.ipynb_checkpoints/Introductie Decision trees en Random Forest-checkpoint.pdf
Hello, please contact me on Twitter @CryptoCatPro
I would like to buy your Pepo twitter username only. Not the account. Thank you!
